@model IEnumerable<DotnetChat.Models.ChatViewModel>
<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        h1, h4 {
            color: white;
        }

        .chat-button {
            display:block; 
            width:100%; 
            border:hidden; 
            background:border-box;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .chat-button:hover {
            background: #202B36;
        }

        p {
            color: white;
        }
    </style>
</head>
<body>
    <div class="row modal-fullscreen">

        <div class="col-3 asd" style="background:#17212B;">
            <h1>
                Чати
            </h1>

            @foreach (var chatView in Model)
            {
                <button class="chat-button">
                    <h4>
                        @chatView.Name
                    </h4>
                </button>
            }
        </div>

        <div class="col" style="background:#0E1621">
            <div id="chat" style="scroll-behavior:auto">
            </div>

            <div id="inputForm">
                <input type="text" id="message" />
                <input type="button" id="sendBtn" value="Send" />
            </div>
        </div>
    </div>
    <script src="/js/signalr.min.js"></script>
    <script src="/js/chat.js"></script>
    <script>
        document.getElementById("sendBtn").addEventListener("click", async function (e) {
             let message = document.getElementById("message").value;
             SendMessage(message);
         });
    </script>
</body>

</html>