@model IEnumerable<DotnetChat.Models.ChatViewModel>
<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="row modal-fullscreen">

        <div class="col-3" style="background:#17212B; padding-left: 0; padding-right: 0;">
            <h1>
                Чати
            </h1>

            @foreach (var chatView in Model)
            {
                <button class="chat-button" onclick="SelectChat(@chatView.Id)">
                    <h4>
                        @chatView.Name
                    </h4>
                </button>
            }
        </div>

        <div class="col" style="background:#0E1621; padding-left: 0; padding-right: 0; padding: 5px; height: 100%">
            <div id="chat" style="overflow-y: scroll; height: 90%;">
            </div>

            <div id="inputForm" class="input-box" style="vertical-align: bottom; height: 10%; display: flex">
                <input type="text" id="message" style="font-size: 20px; width: -webkit-fill-available;"/>
                <input type="button" id="sendBtn" value="Send" style="width: 60px;"/>
            </div>
        </div>
    </div>
    <script src="/js/signalr.min.js"></script>
    <script src="/js/chat.js"></script>
    <script>
        document.getElementById("sendBtn").addEventListener("click", async function (e) {
             let message = document.getElementById("message").value;
             SendMessage(message);
         });
    </script>
</body>

</html>